{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
          {%for item in items%}
              <li>{{item.title}}</li>
          {%endfor%}
      </ul>
    </div>
  </div>

  <form action="/" method="post">
  <div class="col-md-12">
    <label for="title">New To Do: </label>
    <input type="text" name="title" id="title" required>
    <button class="favorite styled" type="submit"> ADD </button>
  </div>
  </form>
{% endblock %}